@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;

}



.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;

}

.main-page {

  background-image: url(../images/hero.jpg);
  background-size: 100% auto,cover;
  background-repeat:no-repeat;
  background-position:left bottom, left top;
  color: #ffff;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
}


.advantages-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333;
  text-align: center;

}



  .advantages-title {
    text-transform: uppercase;
    text-align: center;
    color: #333;
  }


  .advantages-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
    color: #333;
  }

  .advantages-item-light {
 font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #fff;
    background-color: #82b3d3;
  }
  .advantages-title-light {
    text-transform: uppercase;
  }
  .advantages-description-light {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #fff;

  }
.advantages-item-second {

background-color:rgba(131, 179, 211, 0.12);;
}
.advantages-title-second {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
text-align: center;
color: #000;
}

.advantages-item-third{
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}
.advantages-title-third {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.advantages-item-fourth{
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}
.advantages-title-fourth{
font-weight: 700;
font-size: 24px;
line-height: 28%;
text-transform: uppercase;
text-align: center;
color: #000;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.advantages-description-fourth {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #333;
}

.advantages-item-fifth {
  font-weight: 700;
 font-size: 24px;
 line-height: 28px;
 text-align: center;
 color: #fff;
background-color: #82b3d3;
   }
   .advantages-title-fifth {
     text-transform: uppercase;
   }
   .advantages-description-fifth {
 font-weight: 400;
 font-size: 18px;
 line-height: 21px;
 text-align: center;
 color: #fff;
   }
   .services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #000
   }





  .services-description {
    text-align: center;
  }


  .search {
    text-align: center;
  }
  .services-item-first {
    background-color: rgba(131, 179, 211, 0.12);

  }

  .services-item-second {
    background-color: #ffff;


  }
  .services-item-third {
  background-color: rgba(131, 179, 211, 0.12);
  }
  .services-text {
    text-align: center;
  }

.subscribe{
color: #fff;
text-align: center;
background-image: url(../images/background.jpg);
background-size: 100% auto,cover;
background-repeat:no-repeat;
padding: 96px 258px 104px 258px;
width: 1200px;
height: 414px;
}

  .subscribe-title {
    font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #fff;

  }
  .button-all {
    font-weight: 700;
font-size: 20px;
line-height: 36px;
text-transform: uppercase;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 8px 50px;
width: 376px;
height: 52px;
background-color: #756157;

  }
