@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*Navigation*/
.navigation-link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
}

.user-link {
  padding: 20px 12px;
}

.navigation-item {
  list-style-type: none;
  position: relative;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  column-gap: 30px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-logo-image {
  vertical-align: top;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-button {
  display: block;
  padding: 8px 34px;
  min-width: 160px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 6px;
}

.navigation-link--current::before {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  border-bottom: 2px solid #756257;
  bottom: 5px;

}

.navigation-favorite {
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
  padding: 4px 5px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: absolute;
  top: 10px;
  right: 5px;
}

.navigation-link-favorite {
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto;
}

.button {
  font-family: "PT Sans", sans-serif;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-brown {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.button-blue {
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.search-button {
  margin: 0 auto;
  margin-bottom: 96px;
  display: block;
  cursor: pointer;
  min-width: 376px;
}

.button-transparent {
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 10px;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:active {
  opacity: 0.3;
}

.modal__number-button {
  border: none;
  padding: 14px 10px;
  width: 40px;
  background-color: #f2f2f2;
  color: rgba(117, 97, 87, 0.3);
}

.modal__number-button:hover {
  color: #000000;
}

.modal__number-button:active {
  color: rgba(117, 97, 87, 0.3);
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.plus-button {
  border-radius: 0 4px 4px 0;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.button-green:hover {
  background: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
  pointer-events: none;
}

.button-transparent {
  color: #ffffff;
}

.button-transparent:disabled {
  opacity: 0.1;
}

.main-page {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  position: relative;
}

.welcome-page {
  background-color: #add8e6;
  background-image: url("../images/hero-bg-decor.svg"), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: contain, 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
  background-position: bottom;
  margin-top: -6px;
  min-height: 485px;
  box-sizing: border-box;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-left: 70px;
  margin-right: 70px;
}

.background-blue {
  background-color: #82b3d3;
  color: #FFFFFF;
}

.background-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-title {
  margin-top: 69px;
  margin-bottom: 25px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  text-align: center;
  padding-right: 85px;
  padding-left: 85px;
  box-sizing: border-box;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.advantages-text-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-item::before {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  order: 1;
}

.text {
  display: flex;
  width: 1200px;
  min-height: 385px;
}

.text-wrapper::before {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  order: 1;
}

.text-description {
  order: 2;
  margin: 0;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: auto 85px;
  align-items: center;
  text-align: center;
  max-width: 230px;
  box-sizing: border-box;
}

.text-image.order {
  order: -1;
}

.text-image {
  align-self: center;
}

.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

.service-title {
  margin-top: 64px;
  margin-bottom: 20px;
}

.service-description {
  margin: 0 0 64px 0;
}

.list {
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.sedona-services {
  text-align: center;
  margin: 0 0 20px 0;
  color: #000000;
}

.invitation {
  text-align: center;
  line-height: 36px;
  margin-top: 64px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services-item {
  max-height: 385px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-title {
  width: 230px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  color: #333333;
  position: relative;
  color: #333333;
  margin: 0 0 64px 0;

}

.house-title {
 margin: 145px 90px 22px;

}

.food-title {
  margin: 150px 85px 22px;

}

.present-title {
  margin: 150px 85px 22px;

}

.services-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.first {
  background-image: url("../images/icon/house.png");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 12%);
  background-position: 50% 25%;
}

.second {
  background-color: #ffffff;
  background-image: url("../images/icon/food.png");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.third {
  background-image: url("../images/icon/present.png");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 12%);
  background-position: 50% 25%;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  text-align: center;
}

.service-list,
.social-list,
.catalog-cards,
.breadcrumbs,
.pagination,
.advantages-list {
  list-style-type: none;
}

.search {
  text-align: center;
  background-color: #ffffff;
  padding: 75px 304px 0;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin: 0 0 54px 0;
  white-space: pre-line;
}

.subscribe-page {
  background-color: #38519c;
  color: #ffffff;
  background-image: url("../images/subscribe-bg-2.jpg");
  background-size: 100% auto;
}

.subscribe-page-catalog {
  background-color: #ffffff;
  background-size: 100% auto;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-page .subscribe-title {
  color: #ffffff;
}

.subscribe-title {
  margin: 0;
}

.subscribe-description {
  margin-top: 20px;
  margin-bottom: 54px;
}

.subscribe-form {
  text-align: center;
  display: flex;
  justify-content: center;
}

.subscribe-input {
  width: 452px;
  border: none;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  background-color: #82b3d3;
  font-size: 20px;
}

.subscribe-inner .subscribe-input {
  background-color: #f2f2f2;
}

.subscribe-input:hover {
  background-color: #e6e6e6;
}
.subscribe-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}
.subscribe-input:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 64px 70px;
  border-radius: 30px;
}

.modal-navigation {
  width: 717px;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.modal__close-button:hover {
  background-color: #e5e5e5;
}

.modal-title {
  text-align: left;
  margin: 0;
  margin-bottom: 64px;
}

.modal-button-wrapper {
  display: flex;
  margin: 0;
  height: 48px;
}

.modal-form {
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 110px;
  align-items: center;
}

.label-date {
  grid-column: 1 / 2;
  align-self: center;
  margin-bottom: 3px;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.mistake-text {
  color: #ff5757;
}

.modal__input {
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
}

.modal-number-button {
  border: none;
  padding: 14px 10px;
  width: 40px;
  background-color: #f2f2f2;
  color: rgba(117, 97, 87, 0.3);
}

.modal-number-button:hover {
  color: #000000;
}

.modal-number-button:active {
  color: rgba(117, 97, 87, 0.3);
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.plus-button {
  border-radius: 0 4px 4px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.modal__container-close {
  display: none;
}

.modal__input {
  grid-column: 2 / 6;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.modal__input:hover {
  background-color: #e5e5e5;
}

.modal-text {
  grid-column: 2 / 6;
  margin: 0;
  font-size: 16px;
  margin-bottom: 23px;
  margin-left: 20px;
}

.label-adult {
  grid-column: 1 / 2;
}

.adult-container {
  grid-column: 2 / 3;
}

.tooltip-container {
  grid-column: 4 / 5;
  margin: 0;
}

.children-container {
  grid-column: 5 / 6;
}

.modal__button-submit {
  grid-column: 1 / 6;
  background-color: #83b3d3;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18px 77px;
  border-radius: 10px;
  font-family: inherit;
  margin-top: 48px;
}

.number-input {
  width: 31px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding: 5px 6px;
  box-sizing: border-box;
  text-align: center;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding: 40px 70px 30px;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  width: 256px;
  flex-wrap: wrap;
}

.social-link {
  display: block;
  padding: 8px;
  width: 48px;
  height: 40px;
  color: #83b3d3;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus-visible {
  color: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.contact {
  width: 446px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: left;
  text-wrap: wrap;
  outline: none;
  transition: all 0.2s ease-in-out;
  padding-left: 2px;
}

.contact:hover {
  color: #756157;
}

.contact:focus-visible {
  color: #756157;
}

.contact:active {
  opacity: 0.3;
}

.footer-logo {
  width: 115px;
  padding-top: 7px;
  color: #000000;
  text-align: end;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus-visible {
  color: #756157;
}

.footer-logo:active {
  opacity: 0.3;
}

.inner-header {
  padding: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #6ba5cc;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -6px;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 12px;
}

.breadcrumbs-item:not(.breadcrumbs__item-home) {
  position: relative;
  padding-left: 17px;
}

.breadcrumbs-item:not(.breadcrumbs__item-home)::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 8px;
  height: 21px;
  background-image: url("../images/switch-pages-icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.breadcrumbs-link {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: -1px;
}

.breadcrumbs-link:not(.breadcrumbs-link[aria-current="page"]):hover {
  outline: none;
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:not(.breadcrumbs-link[aria-current="page"]):focus {
  outline: none;
  opacity: 1;
}

.breadcrumbs-link:not(.breadcrumbs-link[aria-current="page"]):active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 21px;
  background-image: url("../images/switch-pages-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 13px 15px;
  background-position: 0 2px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group-price {
  padding-bottom: 8px;
  margin-left: auto;
  width: 288px;
}

.catalog-filter__title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.control-label {
  position: relative;
  display: block;
  padding-left: 37px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.control-label::before {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  content: "";
  bottom: 2px;
  left: 0;
}

.control-input[type="checkbox"] + .control-label::before {
  border-radius: 4px;
}

.control-input[type="radio"] + .control-label::before {
  border-radius: 50%;
}

.control-input:checked + .control-label::after {
  position: absolute;
  content: "";
  display: block;
}

.control-input[type="radio"]:checked + .control-label::after {
  background-color: #3f5e72;
  border-radius: 50%;
  left: 5px;
  bottom: 7px;
  width: 10px;
  height: 10px;
}

.control-input[type="checkbox"]:checked + .control-label::after {
  background-image: url("../images/checkbox-icon.svg");
  background-repeat: no-repeat;
  left: 5px;
  bottom: 7px;
  width: 12px;
  height: 10px;
  background-size: cover;
  background-position: center;
}

.control-label:hover {
  opacity: 60%;
}

.control-input:focus + .control-label::before {
  outline: 3px solid #83b3d3;
}

.control-label:active {
  opacity: 30%;
}

.price-filter__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  margin-bottom: 44px;
}

.price-label {
  display: flex;
  background-color: #f2f2f2;
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.price-label span {
  padding: 12px 20px 12px 22px;
  width: 60px;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.3);
}

.price-label:hover {
  background-color: #e6e6e6;
}

.price-label:focus-within {
  outline: 3px solid #83b3d3;
}

.price-input:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.price-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  width: 83px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  order: -1;
  appearance: none;
  -moz-appearance: textfield;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 79%;
  height: 4px;
  background-color: #ffffff;
}

.range__toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range__toggle-minimum {
  left: 0;
}

.range__toggle-maximum {
  right: 0;
}

.range__toggle:focus {
  outline: 3px solid #83b3d3;
}

.range__toggle:active {
  outline: 2px solid #83b3d3;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.catalog-filter__buttons .button {
  padding-right: 50px;
  padding-left: 50px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 70px 40px;
  background-color: #ffffff;
}

.sorting__result {
  padding: 50px 70px 40px;
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting__select {
  background-color: #ffffff;
  background-image: url("../images/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  width: 292px;
  padding: 11px 50px 11px 20px;
  margin-left: auto;
  margin-right: 70px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-position: calc(100% - 18px) 50%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.sorting__select:hover,
.sorting__select:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.sorting__select:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
}

.toggle-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-right: 0;
}

.toggle-panel__tile {
  background-image: url("../images/icon/view-title.svg");
}

.toggle-panel__card {
  background-image: url("../images/icon/view-card.svg");
}

.toggle-panel__list {
  background-image: url("../images/icon/view-list.svg");
}

.toggle-panel__button {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.toggle-panel__button--active {
  border-color: #000000;
}

.toggle-panel__button:hover {
  border-color: #000000;
}

.toggle-panel__button:focus {
  border-color: #68a2ca;
}

.toggle-panel__button:active {
  border-color: #000000;
}

.catalog {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  margin: 0;
  background-color: #ffffff;
  list-style: none;
}

.catalog::after {
  position: absolute;
  content: "";
  left: 70px;
  right: 70px;
  bottom: 0;
  height: 1px;
  background-color: #e6e6e6;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  align-content: flex-start;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.card__link {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-decoration: none;
  outline: none;
}

.card__link img {
  width: 100%;
  margin-bottom: 17px;
}

.card__title {
  order: 1;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card__link:hover .card__title,
.card__link:focus .card__title {
  opacity: 0.6;
}

.card__link:active .card__title {
  opacity: 0.3;
}

.card__housing-type,
.card__housing-minprice {
  font-size: 18px;
  line-height: 21px;
}

.card__housing-minprice {
  text-align: right;
}

.button-card {
  padding: 8px 0;
  text-align: center;
}

.card__star-rating {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating-star {
  align-self: center;
  width: 18px;
  height: 17px;
  background-image: url("../images/star-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__rating-total {
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.breadcrumbs__item {
  display: flex;
}

.text-state:hover {
  color: #756157;
}

.text-state:active {
  color: rgba(117, 97, 87, 0.3);
}

.svg-state {
  fill: #000000;
}

.svg-state:hover {
  fill: #756157;
}

.svg-state:active {
  fill: rgba(117, 97, 87, 0.3);
}

.pagination {
  padding: 40px 70px 60px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  height: 60px;
  display: block;
  padding: 13px 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link--current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link--dots {
  background-color: transparent;
  color: #000000;
}

.pagination-link-state:hover {
  background-color: #68a2ca;
}

.pagination-link-state:active {
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  background-image: url("../images/star.svg");
  margin: 0;
  height: 17px;
  align-self: center;
}

.five-stars {
  width: 115px;
}

.four-stars {
  width: 90px;
}

.three-stars {
  width: 65px;
}

.two-stars {
  width: 45px;
}

.one-stars {
  width: 20px;
}

.range__input:hover {
  background-color: #e5e5e5;
}

.range__toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.form-catalog__label:hover {
  opacity: 0.6;
}

.form-catalog__label:active {
  opacity: 0.3;
}

.form-catalog label:has(:disabled) {
  opacity: 0.1;
  cursor: default;
  pointer-events: none;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  opacity: 0.3;
}

.tooltip-toggle {
  background-image: url("../images/tooltip.svg");
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  width: 256px;
  position: absolute;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  display: none;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltip_triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 100%;
  left: 0;
  right: 0;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:active + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
