@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;

}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  visibility: hidden;
}

/*Header*/

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;

}


.navigation-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navigation-search {
  display: inline-block;
  width: 44px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

.navigation-favorite {
  display: inline-block;
  width: 44px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  background-image: url("../images/icon/fav.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: inline-block;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  color: #ffffff;
  padding: 8px 34px;
  margin: 0 auto;
}


.fav_num {
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(125, 181, 79);
  border-radius: 50%;
  padding: 6px;
  /*не подходит*/
  text-align: center;
  text-decoration: none;
}


/*Main*/

.main-page {
    background-image: url("../images/hero-bg-decor.svg"), url("../images/hero.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    min-height: 485px;
    min-width: 1200px;
    background-color: rgb(255, 255, 255);
    padding: 0;
  }

  .discription {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }

.welcome-text {
  image: url("../images/welcome.svg");
  width: 458px;
  height: 352px;
  display: block;
  margin: 0 auto;
}

.welcome-discription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.welcome-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}




.advantages-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  text-align: center;
}



.advantages-title {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}


.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  color: #333333;
}

.advantages-item-light {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title-light {
  text-transform: uppercase;
}

.advantages-description-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

}

.advantages-item-second {

  background-color: rgba(131, 179, 211, 0.12);
  ;
}

.advantages-title-second {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-item-third {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.advantages-title-third {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-title-fourth {
  font-weight: 700;
  font-size: 24px;
  line-height: 28%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.advantages-description-fourth {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-fifth {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-title-fifth {
  text-transform: uppercase;
}

.advantages-description-fifth {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000
}

.services-description {
  text-align: center;
}

.search {
  text-align: center;
}

.services-item-first {
  background-color: rgba(131, 179, 211, 0.12);

}

.services-item-second {
  background-color: #ffffff;


}

.services-item-third {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-text {
  text-align: center;
}

.subscribe {
  color: #ffffff;
  text-align: center;
  background-image: url("../images/background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
  width: 1200px;
  height: 414px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;

}

.button-all {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 376px;
  height: 52px;
  background-color: #756157;

}

.subscribe {
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}


.e-mail {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
}

.subscribe-button {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  border: 0;
  border-radius: 0 4px 4px 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
}

/*Footer*/

.page-footer {
  text-decoration: none;
}

.contact {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.author-logo {
  image: url("../images/icon/htmlacademy.svg");
  width: 115px;
  height: 33px;

}

/*Catalog*/

.images {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, cover;
  min-height: 412px;
  color: rgb(255, 255, 255);
  padding: 35px 70px 70px 70px;

}

.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

}

.catalog-filter{
  border: none;
}

.button-submit{
  display: inline-block;
  margin: 0 auto;
  width: 191px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-reset {
  display: inline-block;
  margin: 0 auto;
  width: 191px;
  height: 36px;
  background-color: rgba(130, 178, 211, 0);
  border-radius: 4px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;

}

.select-control {
  width: 292px;
  height: 49px;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(229, 229, 229);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 21px;
  padding: 0 20px;
}

.icon-tiles-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/icon/view-title.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-single-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/icon/view-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-list-view {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/icon/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}



.product-card-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.product-card-image {

}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
}


.product-card-button{
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color:#756157;
}

.favorite-button {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgb(130, 179, 211);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.favorite-button-current {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 36px;
  background-color: rgba(125, 181, 79);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-stars {
  display: inline-block;
  margin: 0 auto;
  width: 140px;
  height: 37px;
  background-color:#f2f2f2;
  border-radius: 4px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  display: inline-block;
  margin: 0, 8px;
  list-style: none;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: rgb(130, 179, 211);
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}

.pagination-current {
  display: inline-block;
  margin: 0, 8px;
  list-style: none;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-next {
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0)
}
